romts_gsrst/Workflows/ClonetoNewQuestionnaireVersionHTTP-CD300B06-E00F-EC11-B6E6-0022483D0399.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ts_sharedcommondataserviceforapps_6867e"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}},"actions":{"Get_Questionnaire_Version_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","recordId":"@triggerBody()?['id']"},"authentication":"@parameters('$authentication')"}},"List_versions_of_Parent_Questionnaire":{"runAfter":{"Get_Parent_Questionnaire_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","$filter":"_ts_ovs_questionnaire_value eq '@{outputs('Get_Parent_Questionnaire_by_ID')?['body/ovs_questionnaireid']}'"},"authentication":"@parameters('$authentication')"}},"Get_Parent_Questionnaire_by_ID":{"runAfter":{"Get_Questionnaire_Version_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_questionnaires","recordId":"@outputs('Get_Questionnaire_Version_by_ID')?['body/_ts_ovs_questionnaire_value']"},"authentication":"@parameters('$authentication')"}},"Get_next_version_number":{"runAfter":{"List_versions_of_Parent_Questionnaire":["Succeeded"]},"type":"Compose","inputs":"@add(length(outputs('List_versions_of_Parent_Questionnaire')?['body/value']), 1)"},"Add_a_new_row":{"runAfter":{"Get_next_version_number":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","item/ts_name":"@{outputs('Get_Parent_Questionnaire_by_ID')?['body/ovs_name']}- Version @{outputs('Get_next_version_number')}","item/ts_ovs_questionnaire@odata.bind":"/ovs_questionnaires(@{outputs('Get_Parent_Questionnaire_by_ID')?['body/ovs_questionnaireid']})","item/ts_questionnairedefinition":"@outputs('Get_Questionnaire_Version_by_ID')?['body/ts_questionnairedefinition']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}