romts_gsrst/Workflows/ClonetoNewQuestionnaire-6BFFAC3C-4704-EC11-B6E7-0022483CC4A3.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"ts_sharedcommondataservice_3b935"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ts_sharedcommondataserviceforapps_6867e"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"_ts_ovs_questionnaire_value":{"title":"Questionnaire","type":"string","format":"guid"},"ts_questionnairedefinition":{"title":"Questionnaire Definition","type":"string"}},"required":[]}},"required":[]}}},"required":[]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"ts_questionnaireversions"}}}},"actions":{"Get_Parent_Questionnaire_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_questionnaires","recordId":"@triggerBody()?['entity']?['_ts_ovs_questionnaire_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_clone_of_the_Parent_Questionnaire":{"runAfter":{"Get_Parent_Questionnaire_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_questionnaires","item/ovs_name":"@{outputs('Get_Parent_Questionnaire_by_ID')?['body/ovs_name']} - Copy"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_questionnaire_versions_of_clone":{"runAfter":{"Add_clone_of_the_Parent_Questionnaire":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","$filter":"_ts_ovs_questionnaire_value eq '@{outputs('Add_clone_of_the_Parent_Questionnaire')?['body/ovs_questionnaireid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_questionnaire_versions_of_clone')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","recordId":"@items('Apply_to_each')?['ts_questionnaireversionid']","item/ts_questionnairedefinition":"@triggerBody()?['entity']?['ts_questionnairedefinition']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_questionnaire_versions_of_clone":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}