romts_gsrst/Workflows/ClonetoNewQuestionnaireHTTP-AA137A89-E40F-EC11-B6E6-0022483D089A.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ts_sharedcommondataserviceforapps_6867e"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}},"actions":{"Get_questionnaire_version_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","recordId":"@triggerBody()?['id']"},"authentication":"@parameters('$authentication')"}},"Get_Parent_Questionnaire_by_ID":{"runAfter":{"Get_questionnaire_version_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_questionnaires","recordId":"@outputs('Get_questionnaire_version_by_ID')?['body/_ts_ovs_questionnaire_value']"},"authentication":"@parameters('$authentication')"}},"Add_clone_of_the_Parent_Questionnaire":{"runAfter":{"Get_Parent_Questionnaire_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_questionnaires","item/ovs_name":"@{outputs('Get_Parent_Questionnaire_by_ID')?['body/ovs_name']} - Copy"},"authentication":"@parameters('$authentication')"}},"List_questionnaire_versions_of_clone":{"runAfter":{"Add_clone_of_the_Parent_Questionnaire":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","$filter":"_ts_ovs_questionnaire_value eq '@{outputs('Add_clone_of_the_Parent_Questionnaire')?['body/ovs_questionnaireid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_questionnaire_versions_of_clone')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ts_questionnaireversions","recordId":"@items('Apply_to_each')?['ts_questionnaireversionid']","item/ts_questionnairedefinition":"@outputs('Get_questionnaire_version_by_ID')?['body/ts_questionnairedefinition']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_questionnaire_versions_of_clone":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}