romts_gsrst/Workflows/CopyQuestionnaireResponses-6FD0C771-25F1-EE11-A1FD-002248AF3597.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_DataverseROMTSGSRST"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2d0a4332-6c7a-405f-b7fb-c81bc61df176"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "ParseJSON_Content": {
                  "type": "any",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "ParseJSON_Content"
              ]
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bfa6be5d-f696-4ae0-a12e-1b3faa2313de"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['ParseJSON_Content']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "QuestionnaireID": {
                    "type": "string"
                  },
                  "QuestionnaireResponseID": {
                    "type": "string"
                  },
                  "SelectedWOGuids": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                },
                "required": [
                  "QuestionnaireID",
                  "QuestionnaireResponseID",
                  "SelectedWOGuids"
                ]
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "78abd67c-69a0-4a34-bbe4-754adf28f940"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ParentWorkOrderGuid",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "For_each_selected_Work_Order": {
              "foreach": "@items('Apply_to_each')['SelectedWOGuids']",
              "actions": {
                "List_Work_Order_Service_Tasks_of_current_Selected_Work_Order": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4e8b26f1-a153-4804-bb87-93304a162993"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_workorderservicetasks",
                      "$filter": "_msdyn_workorder_value eq @{items('For_each_selected_Work_Order')['ID']} and statuscode eq 918640005"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Apply_to_each_WOST_of_Selected_Work_Order": {
                  "foreach": "@outputs('List_Work_Order_Service_Tasks_of_current_Selected_Work_Order')?['body/value']",
                  "actions": {
                    "Update_a_row_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6176e4d4-44d4-4df1-a51c-5ee4fcdd169f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msdyn_workorderservicetasks",
                          "recordId": "@items('Apply_to_each_WOST_of_Selected_Work_Order')?['msdyn_workorderservicetaskid']",
                          "item/msdyn_percentcomplete": 100,
                          "item/ovs_Questionnaire@odata.bind": "ovs_questionnaires(@{outputs('Get_a_row_by_ID_2')?['body/_ts_questionnaire_value']})",
                          "item/ovs_questionnairedefinition": "@outputs('Get_a_row_by_ID_2')?['body/ts_questionnairedefinition']",
                          "item/ovs_questionnaireresponse": "@outputs('Get_a_row_by_ID_2')?['body/ts_questionnaireanswers']",
                          "item/ovs_questionnaireresultjson": "@outputs('Get_a_row_by_ID_2')?['body/ts_questionnaireanswers']",
                          "item/ts_servicetaskstartdate": "@formatDateTime(utcNow(),'MM-dd-yyyy')"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Work_Order_Service_Tasks_of_current_Selected_Work_Order": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3e67c1f8-d698-445d-8688-5e5e5136d298"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7a67f74-9237-4463-93d8-d799bac31259"
              },
              "type": "Foreach"
            },
            "Get_a_row_by_ID_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2ec5f5fd-37d4-46f1-a0ba-486fa1d804c0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_questionnaireresponses",
                  "recordId": "@items('Apply_to_each')['QuestionnaireResponseID']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c01b0cd-4737-4db4-9cec-6d6f462d7871"
          },
          "type": "Foreach"
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7aaebe8-af14-4d4a-bb03-dc191936a8ee"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WOST 1",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "91ea7b00-fdad-4f20-b4c2-5420c918894d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WOST 2",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}