romts_gsrst/Workflows/DutyInspectorScheduleCreateDutyInspector-BAC6B7BD-502B-F011-8C4D-6045BD607E90.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedcommondataserviceforapps_24cad"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedcommondataserviceforapps_2d435"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f07b16ee-a841-4046-a955-b85e74c5b214"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ts_dutyinspectorschedule",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID_-_Fiscal_Year": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4d1c0b1b-edc9-4f13-b4e8-e0c3744833e0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tc_tcfiscalyears",
              "recordId": "@triggerOutputs()?['body/_ts_fiscalyear_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose_-_Fiscal_Year_End": {
          "runAfter": {
            "Update_a_row_-_Duty_Inspector_Schedule": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3885a3c6-adcd-4474-9769-0493ddca6028"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_a_row_by_ID_-_Fiscal_Year')?['body/tc_fiscalend']"
        },
        "Do_until": {
          "actions": {
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "42a89b32-4e7a-45c1-92dd-fc897d77fcfb"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ts_dutyinspectorses",
                      "item/ts_name": "@{outputs('Get_a_row_by_ID_-_Region')?['body/name']}-@{outputs('Get_a_row_by_ID_-_Fiscal_Year')?['body/tc_name']}",
                      "item/ts_DutyInspectorSchedule@odata.bind": "/ts_dutyinspectorschedules(@{triggerOutputs()?['body/ts_dutyinspectorscheduleid']})",
                      "item/ts_enddate": "@outputs('Compose_-_Fiscal_Year_End')",
                      "item/ts_startdate": "@formatDateTime(variables('Week Start Date'), 'yyyy-MM-ddTHH:mm:ssZ')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Set_variable_4": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_a_new_row_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "63e9be6a-7c61-4e9c-8c63-9a15b12a12fa"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "ts_dutyinspectorses",
                        "item/ts_name": " @{outputs('Get_a_row_by_ID_-_Region')?['body/name']}-@{outputs('Get_a_row_by_ID_-_Fiscal_Year')?['body/tc_name']}",
                        "item/ts_DutyInspectorSchedule@odata.bind": "/ts_dutyinspectorschedules(@{triggerOutputs()?['body/ts_dutyinspectorscheduleid']})",
                        "item/ts_enddate": "@formatDateTime(variables('Week End Date'), 'yyyy-MM-ddTHH:mm:ssZ')",
                        "item/ts_startdate": "@formatDateTime(variables('Week Start Date'), 'yyyy-MM-ddTHH:mm:ssZ')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@variables('Week End Date')",
                  "@outputs('Compose_-_Fiscal_Year_End')"
                ]
              },
              "metadata": {
                "operationMetadataId": "2543b46d-2c4b-413d-89a3-16ca940c82a0"
              },
              "type": "If"
            },
            "Set_variable": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bc926eba-d405-4976-a169-3a6419a50ef5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Next Start Date",
                "value": "@{addDays(variables('Week Start Date'), 7)}"
              }
            },
            "Set_variable_3": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6a401c63-1d4b-4c1f-8d61-99df7bef1369"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Week Start Date",
                "value": "@variables('Next Start Date')"
              }
            },
            "Set_variable_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "44550cf5-2d31-4709-b363-0cda9019f034"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Next End Date",
                "value": "@{addDays(variables('Week Start Date'), 6)}"
              }
            },
            "Set_variable_4": {
              "runAfter": {
                "Set_variable_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "54c4ff7b-d248-4e28-a6c4-82294e6a1244"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Week End Date",
                "value": "@variables('Next End Date')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable__-_Week_End_Date": [
              "Succeeded"
            ]
          },
          "expression": "@greater(variables('Week Start Date'), outputs('Compose_-_Fiscal_Year_End'))",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "0d87fa3e-720f-4980-a400-811892aec577"
          },
          "type": "Until"
        },
        "Get_a_row_by_ID_-_Region": {
          "runAfter": {
            "Get_a_row_by_ID_-_Fiscal_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b56f6f1f-33d0-47ed-bf0f-9fd14b64f70c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "territories",
              "recordId": "@triggerOutputs()?['body/_ts_region_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Compose_-_Fiscal_Year_End": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d15ef1f5-7910-4f23-94ed-313902d73056"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Next Start Date",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable__-_Week_End_Date": {
          "runAfter": {
            "Initialize_variable_-_Week_Start_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e959b38-0b0b-47c2-86eb-1e9c8e309016"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Week End Date",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Week_Start_Date": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6cb4eb01-cf1e-4ff8-bbde-980cbdeab4fc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Week Start Date",
                "type": "string",
                "value": "@triggerOutputs()?['body/ts_startdate']"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc523d84-5648-4e46-832b-905bb81d5204"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Next End Date",
                "type": "string"
              }
            ]
          }
        },
        "Update_a_row_-_Duty_Inspector_Schedule": {
          "runAfter": {
            "Get_a_row_by_ID_-_Region": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "069965ee-2949-4a47-9de0-0124e85cec15"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ts_dutyinspectorschedules",
              "recordId": "@triggerOutputs()?['body/ts_dutyinspectorscheduleid']",
              "item/ts_name": "@{outputs('Get_a_row_by_ID_-_Region')?['body/name']}-@{outputs('Get_a_row_by_ID_-_Fiscal_Year')?['body/tc_name']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}