romts_gsrst/Workflows/OperationUpdateWorkOrderandCaseTCSCPHyperlink-10C5BB94-B929-F011-8C4E-6045BD5E8D7E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_DataverseROMTSGSRST"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "9ad114bd-0952-48b8-8573-8031d8c00717"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ovs_operation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ts_stakeholdertcscp"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows_-_Work_Orders": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "35cd8f4c-86df-48a6-a312-786e6a7d5a00"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_workorders",
              "fetchXml": "<fetch>\n  <entity name=\"msdyn_workorder\">\n    <filter type=\"and\">\n      <condition attribute=\"ovs_operationid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/ovs_operationid']}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('List_rows_-_Work_Orders')?['body/value']",
              "actions": {
                "Update_a_row_-_Work_Order": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ee922daa-a561-45de-893d-b6de224e3ff4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_workorders",
                      "recordId": "@items('Apply_to_each')?['msdyn_workorderid']",
                      "item/ts_stakeholdertcscp": "@triggerOutputs()?['body/ts_stakeholdertcscp']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compose_-_Get_Case_Id": {
                  "runAfter": {
                    "Update_a_row_-_Work_Order": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a8f6ca77-a469-4c18-afb8-ed39debb56f7"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Update_a_row_-_Work_Order')?['body/_msdyn_servicerequest_value']"
                },
                "Condition_2": {
                  "actions": {
                    "Update_a_row__-_Case": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a7824e15-c86b-4b1d-ae73-97267561a81a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "incidents",
                          "recordId": "@outputs('Compose_-_Get_Case_Id')",
                          "item/ts_stakeholdertcscp": "@triggerOutputs()?['body/ts_stakeholdertcscp']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Compose_-_Get_Case_Id": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@empty(outputs('Compose_-_Get_Case_Id'))",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "679b4f7c-f56e-40c8-b391-4970d3551389"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8fe6f79f-9ab2-436f-912c-aa3b5cf9928e"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_rows_-_Work_Orders": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(body('List_rows_-_Work_Orders')?['value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "f58667ef-c5c5-4e47-9a73-0f11dad77f6d"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}