romts_gsrst/Workflows/QuestionnaireResponsesCopyQuestionnaireResponses-E5CB930F-C128-EF11-840B-002248AE557D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_DataverseROMTSGSRST"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2d0a4332-6c7a-405f-b7fb-c81bc61df176"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "ParseJSON_Content": {
                  "type": "any",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "ParseJSON_Content"
              ]
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bfa6be5d-f696-4ae0-a12e-1b3faa2313de"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['ParseJSON_Content']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "QuestionnaireServiceTaskTypeID": {
                    "type": "string"
                  },
                  "QuestionnaireID": {
                    "type": "string"
                  },
                  "QuestionnaireResponseID": {
                    "type": "string"
                  },
                  "SelectedWOGuids": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                },
                "required": [
                  "QuestionnaireServiceTaskTypeID",
                  "QuestionnaireID",
                  "QuestionnaireResponseID",
                  "SelectedWOGuids"
                ]
              }
            }
          }
        },
        "Apply_to_each_3": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "Questionnaire": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8070be64-557b-44f5-870b-7ff79a4ac09a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_questionnaires",
                  "recordId": "@items('Apply_to_each_3')['QuestionnaireID']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Apply_to_each_4": {
              "foreach": "@items('Apply_to_each_3')['SelectedWOGuids']",
              "actions": {
                "Get_a_row_by_ID": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cbe4d53e-7288-4170-ba56-7f5120e2493c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_workorders",
                      "recordId": "@items('Apply_to_each_4')['ID']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Add_a_new_Work_Order_Service_Task": {
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "164a8f75-75f6-44e3-badf-135cafdb525c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_workorderservicetasks",
                      "item/msdyn_tasktype@odata.bind": "msdyn_servicetasktypes(@{outputs('Service_Task_Type')?['body/msdyn_servicetasktypeid']})",
                      "item/msdyn_workorder@odata.bind": "msdyn_workorders(@{items('Apply_to_each_4')['ID']})",
                      "item/msdyn_name": "@variables('Service Task Name')",
                      "item/ovs_Questionnaire@odata.bind": "ovs_questionnaires(@{outputs('Questionnaire')?['body/ovs_questionnaireid']})",
                      "item/ovs_questionnairedefinition": "@outputs('Questionnaire')?['body/ovs_questionnairedefinition']",
                      "item/ovs_questionnaireresponse": "@outputs('Questionnaire_Responses')?['body/ts_questionnaireanswers']",
                      "item/ovs_questionnaireresultjson": "@outputs('Service_Task_Type')?['body/ovs_questionnaireresultjson']",
                      "item/ts_servicetaskstartdate": "@formatDateTime(utcNow(),'MM-dd-yyyy')"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Set_WO_Name": {
                  "runAfter": {
                    "List_rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "06a2bdbd-3c7c-448e-8dc5-465a233511b0"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "WO Name",
                    "value": "@{replace(outputs('Get_a_row_by_ID')?['body/msdyn_name'],'300-', '200-')}"
                  }
                },
                "List_rows": {
                  "runAfter": {
                    "Get_a_row_by_ID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cecad64b-1c48-4f65-922f-d39c8183af82"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_workorderservicetasks",
                      "fetchXml": "        <fetch>\n            <entity name='msdyn_workorderservicetask'>\n              <filter>\n              <condition attribute='msdyn_workorder' operator='eq' value='@{items('Apply_to_each_4')['ID']}'/>\n            </filter>\n            </entity>\n            </fetch>"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Set_Number_of_WO_Service_Task": {
                  "runAfter": {
                    "Set_WO_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fde2e8b9-8d07-4f66-9679-d95bcb74867f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Number of WO Service Task",
                    "value": "@length(outputs('List_rows')?['body/value'])"
                  }
                },
                "Set_variable": {
                  "runAfter": {
                    "Increment_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "998cd09e-5e7b-48a7-9b3c-70db969b91cf"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Service Task Name",
                    "value": "@{concat(variables('WO Name'),'-',string(variables('Number of WO Service Task')))}"
                  }
                },
                "Increment_variable": {
                  "runAfter": {
                    "Set_Number_of_WO_Service_Task": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "737c6f25-f7c9-4673-8d33-9bc2c257ee5c"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "Number of WO Service Task",
                    "value": 1
                  }
                },
                "Update_a_row_-_Questionnaire_Response_-_Work_Order": {
                  "runAfter": {
                    "Add_a_new_Work_Order_Service_Task": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "764bca90-71d0-454c-b4d3-12b5272344bf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ts_questionnaireresponses",
                      "recordId": "@items('Apply_to_each_3')['QuestionnaireResponseID']",
                      "item/ts_WorkOrder@odata.bind": "msdyn_workorders(@{items('Apply_to_each_4')['ID']})"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "Service_Task_Type": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8647afa1-04c2-4b55-8d17-56020a6166b6"
              },
              "type": "Foreach"
            },
            "Service_Task_Type": {
              "runAfter": {
                "Questionnaire_Responses": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2c7ff34a-9459-473e-bd40-44cee1099d90"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_servicetasktypes",
                  "recordId": "@items('Apply_to_each_3')['QuestionnaireServiceTaskTypeID']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Questionnaire_Responses": {
              "runAfter": {
                "Questionnaire": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4c160b8f-6489-4483-9d31-e041bf13a906"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_questionnaireresponses",
                  "recordId": "@items('Apply_to_each_3')['QuestionnaireResponseID']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_Service_Task_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9456d2bb-b708-4ba6-88db-167216302f80"
          },
          "type": "Foreach"
        },
        "WO_Name": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dd491625-9787-4420-8e76-4abd1a139e68"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WO Name",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "WO_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b673ae7-8633-486e-9289-540f08dc9f84"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of WO Service Task",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_Service_Task_Name": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd81447a-6d21-44d3-b0d2-07b25701ecb9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Service Task Name",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}