romts_gsrst/Workflows/SharePointGetSharePointFilesForSelectedRecord-160763FB-467F-EE11-8179-0022483D7716.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ts_SharePointROMTSGSRST"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "287e4db2-65e9-4e12-86d4-64d3a5ff7e86"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The guid ID of the record (Example: msdyn_workorderid)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "SharePoint File Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The ts_sharepointfileid of the record that is in the ts_sharepointfile table",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Record Owner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The business owner of the record",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_-_SharePointFileId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2ed7acb5-196d-47cb-9f9f-ec83bc4a8cdb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharePointFileId",
                "type": "string",
                "value": "@triggerBody()['text_1']"
              }
            ]
          }
        },
        "Initialize_variable_-_TableRecordOwner": {
          "runAfter": {
            "Initialize_variable_-_SharePointFileId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f04e56fb-9e86-4cbe-8304-8840090a07c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableRecordOwner",
                "type": "string",
                "value": "@triggerBody()['text_2']"
              }
            ]
          }
        },
        "Switch_-_Who_is_the_Record_Owner": {
          "runAfter": {
            "Condition_-_ISSO_Check": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case_-_AvSec": {
              "case": "Aviation Security",
              "actions": {
                "Get_items_-_AvSec_Individual_Inspections": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4758600c-9352-466b-b9ad-302ea2bbfca7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetItems",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/TC-008-006",
                      "table": "Individual Inspections - Inspections individuelles",
                      "$filter": "ROMSharePointFileID eq '@{variables('SharePointFileId')}'",
                      "$orderby": "Title"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Select_-_AvSec_SharePoint_Files": {
                  "runAfter": {
                    "Get_items_-_AvSec_Individual_Inspections": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "92014da5-370b-4179-9501-ca167120ceab"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Get_items_-_AvSec_Individual_Inspections')?['body/value']",
                    "select": {
                      "Title": "@item()?['Title']",
                      "Created": "@item()?['Created']",
                      "CategoryEnglish": "@item()?['Category_x002d_Cat_x00e9_gorie/Value']",
                      "CategoryFrench": "@item()?['Category_x0020__x002d__x0020_Cat_x00e9_gorie_x003a__x0020_Cat_x00e9_gorie/Value']",
                      "Description": "@item()?['FileDescription_x002d_descriptiondufichier']",
                      "DocumentLink": "@item()?['{Link}']",
                      "DocumentType": "@item()?['DocumentType_x002d_TypedeDocument']",
                      "DocumentReferenceID": "@item()?['DocumentReferenceIdentifier_x002d_IdentifiantdeR_x00e9_f_x00e9_renceduDocument']",
                      "FileIdentifier": "@item()?['{Identifier}']"
                    }
                  }
                },
                "Set_variable_-_RecordsList": {
                  "runAfter": {
                    "Select_-_AvSec_SharePoint_Files": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "77fae0a7-e539-475e-a52c-af43f9bfb608"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RecordsList",
                    "value": "@{body('Select_-_AvSec_SharePoint_Files')}"
                  }
                }
              }
            },
            "Case_-_ISSO": {
              "case": "Intermodal Surface Security Oversight",
              "actions": {
                "Get_items_-_ISSO_Individual_Inspections": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "dcb712df-0751-4b91-9de9-81eaaea1228b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetItems",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/TC-008-004",
                      "table": "Individual Inspections - Inspections individuelles",
                      "$filter": "ROMSharePointFileID eq '@{variables('SharePointFileId')}'",
                      "$orderby": "Title"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Select_-_ISSO_SharePoint_Files": {
                  "runAfter": {
                    "Get_items_-_ISSO_Individual_Inspections": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a4337570-382c-4a40-934a-829dcbcddf60"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Get_items_-_ISSO_Individual_Inspections')?['body/value']",
                    "select": {
                      "Title": "@item()?['Title']",
                      "Created": "@item()?['Created']",
                      "CategoryEnglish": "@item()?['Category_x002d_Cat_x00e9_gorie/Value']",
                      "CategoryFrench": "@item()?['Category_x0020__x002d__x0020_Cat_x00e9_gorie_x003a__x0020_Cat_x00e9_gorie/Value']",
                      "Description": "@item()?['FileDescription_x002d_descriptiondufichier']",
                      "DocumentLink": "@item()?['{Link}']",
                      "DocumentType": "@item()?['DocumentType_x002d_TypedeDocument']",
                      "DocumentReferenceID": "@item()?['DocumentReferenceIdentifier_x002d_IdentifiantdeR_x00e9_f_x00e9_renceduDocument']",
                      "FileIdentifier": "@item()?['{Identifier}']"
                    }
                  }
                },
                "Set_variable_-_Records_List": {
                  "runAfter": {
                    "Select_-_ISSO_SharePoint_Files": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8df8fe35-edef-46c6-9007-ec000fc0c0a6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RecordsList",
                    "value": "@{body('Select_-_ISSO_SharePoint_Files')}"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@variables('TableRecordOwner')",
          "metadata": {
            "operationMetadataId": "b8d62483-2fc9-4286-967b-cb4a8defb2fc"
          },
          "type": "Switch"
        },
        "Initialize_variable_-_RecordsList": {
          "runAfter": {
            "Initialize_variable_-_TableRecordOwner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed84e606-82c3-4081-aeed-8a9f5ccaf652"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecordsList",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Response_-_SharePoint_Files_List": {
          "runAfter": {
            "Switch_-_Who_is_the_Record_Owner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa1c654d-474f-483a-b9e4-1337e3c4c9a7"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@variables('RecordsList')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Title": {
                    "type": "string"
                  },
                  "Created": {
                    "type": "string"
                  },
                  "CategoryEnglish": {
                    "type": "string"
                  },
                  "CategoryFrench": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  },
                  "DocumentLink": {
                    "type": "string"
                  },
                  "DocumentType": {
                    "type": "string"
                  },
                  "DocumentReferenceID": {
                    "type": "string"
                  },
                  "FileIdentifier": {
                    "type": "string"
                  }
                },
                "required": [
                  "Title",
                  "Created",
                  "CategoryEnglish",
                  "CategoryFrench",
                  "Description",
                  "DocumentLink",
                  "DocumentType",
                  "DocumentReferenceID",
                  "FileIdentifier"
                ]
              }
            }
          }
        },
        "Condition_-_ISSO_Dev_Check": {
          "actions": {
            "Set_variable_-_Table_Record_Owner": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "469b4dd1-d023-44cb-a5fd-dee3759a6b1a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableRecordOwner",
                "value": "Intermodal Surface Security Oversight"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_RecordsList": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('TableRecordOwner')",
              "Intermodal Surface Security Oversight (ISSO) (dev)"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd40c6cf-b69c-4b16-bf4e-cdd7f1ce3d55"
          },
          "type": "If"
        },
        "Condition_-_ISSO_Check": {
          "actions": {
            "Set_variable_-_Table_Record_Owner_to_ISSO": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "469b4dd1-d023-44cb-a5fd-dee3759a6b1a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableRecordOwner",
                "value": "Intermodal Surface Security Oversight"
              }
            }
          },
          "runAfter": {
            "Condition_-_ISSO_Dev_Check": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('TableRecordOwner')",
              "Intermodal Surface Security Oversight (ISSO)"
            ]
          },
          "metadata": {
            "operationMetadataId": "68966b6e-76d5-4004-a9a1-730201bc9d51"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}