romts_gsrst/Workflows/SharePointGetSharePointFilesForSelectedRecord-160763FB-467F-EE11-8179-0022483D7716.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedcommondataserviceforapps_4a7e9"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "287e4db2-65e9-4e12-86d4-64d3a5ff7e86"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The guid ID of the record (Example: msdyn_workorderid)",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows_-_Get_SharePoint_File_ID": {
          "runAfter": {
            "Initialize_variable_-_TableRecordOwner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "faf4cabd-3655-45e8-9815-8de990e16009"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ts_sharepointfiles",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ts_sharepointfile\">\n    <attribute name=\"ts_sharepointfileid\" />\n    <attribute name=\"ts_tablerecordowner\" />\n    <filter>\n      <condition attribute=\"ts_tablerecordid\" operator=\"eq\" value=\"@{triggerBody()['text']}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_SharePointFileId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2ed7acb5-196d-47cb-9f9f-ec83bc4a8cdb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharePointFileId",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_-_Get_SharePoint_File_ID')?['body/value']",
          "actions": {
            "Set_variable_-_SharePointFileId": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5e77419b-aa88-4503-8d73-5293bd37942e"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SharePointFileId",
                "value": "@items('Apply_to_each')?['ts_sharepointfileid']"
              }
            },
            "Set_variable_-_TableRecordOwner": {
              "runAfter": {
                "Set_variable_-_SharePointFileId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b63400cd-d95c-46ac-8d5d-a36d00133ab8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableRecordOwner",
                "value": "@items('Apply_to_each')?['ts_tablerecordowner']"
              }
            }
          },
          "runAfter": {
            "List_rows_-_Get_SharePoint_File_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f02fcfa9-f5c3-4c49-93ed-642f570907d4"
          },
          "type": "Foreach"
        },
        "Initialize_variable_-_TableRecordOwner": {
          "runAfter": {
            "Initialize_variable_-_SharePointFileId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f04e56fb-9e86-4cbe-8304-8840090a07c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableRecordOwner",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}