romts_gsrst/Workflows/SharePointGetInspectionDocumentsForSelectedRecords-D39D8611-416C-EE11-8179-0022483C5061.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ts_SharePointROMTSGSRST"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e5f2e477-780d-47d6-ac20-3906b17ec6aa"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The guid ID of the record (Example: msdyn_workorderid)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "SharePoint File Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The ts_sharepointfileid of the record that is in the ts_sharepointfile table",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Record Owner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The business owner of the record",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "SharePoint File Group Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The ts_sharepointfilegroup of the record that is in the ts_sharepointfile table",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "SharePoint Query",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The query that will be used to filter the SharePoint document library",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_-_SharePointFileId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2ed7acb5-196d-47cb-9f9f-ec83bc4a8cdb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharePointFileId",
                "type": "string",
                "value": "@triggerBody()['text_1']"
              }
            ]
          }
        },
        "Initialize_variable_-_TableRecordOwner": {
          "runAfter": {
            "Initialize_variable_-_SharePointQuery": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f04e56fb-9e86-4cbe-8304-8840090a07c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TableRecordOwner",
                "type": "string",
                "value": "@triggerBody()['text_2']"
              }
            ]
          }
        },
        "Initialize_variable_-_RecordsList": {
          "runAfter": {
            "Initialize_variable_-_TableRecordOwner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed84e606-82c3-4081-aeed-8a9f5ccaf652"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecordsList",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_variable_-_SharePointFileGroupId": {
          "runAfter": {
            "Initialize_variable_-_RecordsList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "14ede085-a1d5-4ed3-a956-a19757d18015"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharePointFileGroupId",
                "type": "string",
                "value": "@triggerBody()['text_3']"
              }
            ]
          }
        },
        "Condition_-_SharePointFileGroupId_is_not_null": {
          "actions": {
            "Condition_-_Is_SharePointQuery_not_empty": {
              "actions": {
                "Switch": {
                  "runAfter": {},
                  "cases": {
                    "Case_-_AvSec": {
                      "case": "Aviation Security",
                      "actions": {
                        "Get_items_-_AvSec_Individual_Inspections": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "2dbc7880-d37d-419b-929a-01ef71eb260a"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "GetItems",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://034gc.sharepoint.com/sites/TC-008-006",
                              "table": "Individual Inspections - Inspections individuelles",
                              "$filter": "@variables('SharePointQuery')",
                              "$orderby": "DocumentType_x002d_TypedeDocument,DocumentReferenceIdentifier_x002d_IdentifiantdeR_x00e9_f_x00e9_renceduDocument,Title"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          }
                        },
                        "Select_-_AvSec_SharePoint_Files": {
                          "runAfter": {
                            "Get_items_-_AvSec_Individual_Inspections": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "98a1cf2a-0e1a-4da4-ae40-4e42c90d2a9f"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@outputs('Get_items_-_AvSec_Individual_Inspections')?['body/value']",
                            "select": {
                              "Title": "@{item()?['Title']}",
                              "Created": "@{item()?['Created']}",
                              "CategoryEnglish": "@{item()?['Category_x002d_Cat_x00e9_gorie/Value']}",
                              "CategoryFrench": "@{item()?['Category_x0020__x002d__x0020_Cat_x00e9_gorie_x003a__x0020_Cat_x00e9_gorie/Value']}",
                              "Description": "@{item()?['FileDescription_x002d_descriptiondufichier']}",
                              "DocumentLink": "@{item()?['{Link}']}",
                              "DocumentType": "@{item()?['DocumentType_x002d_TypedeDocument']}",
                              "DocumentReferenceID": "@{item()?['DocumentReferenceIdentifier_x002d_IdentifiantdeR_x00e9_f_x00e9_renceduDocument']}",
                              "FileIdentifier": "@{item()?['{Identifier}']}"
                            }
                          }
                        },
                        "Set_variable_-_AvSec_Record_List": {
                          "runAfter": {
                            "Select_-_AvSec_SharePoint_Files": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e54a3367-48da-479e-b88f-84a471f3e845"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "RecordsList",
                            "value": "@{body('Select_-_AvSec_SharePoint_Files')}"
                          }
                        }
                      }
                    },
                    "Case_-_ISSO": {
                      "case": "Intermodal Surface Security Oversight",
                      "actions": {
                        "Get_items_-_ISSO_Individual_Inspections": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "881aaf15-cb6e-433d-9d88-3840bb6de867"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "GetItems",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://034gc.sharepoint.com/sites/TC-008-004",
                              "table": "Individual Inspections - Inspections individuelles",
                              "$filter": "@variables('SharePointQuery')",
                              "$orderby": "DocumentType_x002d_TypedeDocument,DocumentReferenceIdentifier_x002d_IdentifiantdeR_x00e9_f_x00e9_renceduDocument,Title"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          }
                        },
                        "Select_-_ISSO_SharePoint_Files": {
                          "runAfter": {
                            "Get_items_-_ISSO_Individual_Inspections": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1b4fea44-a2df-4e5f-aaa8-ec373e7a4ddf"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@outputs('Get_items_-_ISSO_Individual_Inspections')?['body/value']",
                            "select": {
                              "Title": "@{item()?['Title']}",
                              "Created": "@{item()?['Created']}",
                              "CategoryEnglish": "@{item()?['Category_x002d_Cat_x00e9_gorie']?['Value']}",
                              "CategoryFrench": "@{item()?['Category_x0020__x002d__x0020_Cat_x00e9_gorie_x003a__x0020_Cat_x00e9_gorie']?['Value']}",
                              "Description": "@{item()?['FileDescription_x002d_descriptiondufichier']}",
                              "DocumentLink": "@{item()?['{Link}']}",
                              "DocumentType": "@{item()?['DocumentType_x002d_TypedeDocument']}",
                              "DocumentReferenceID": "@{item()?['DocumentReferenceIdentifier_x002d_IdentifiantdeR_x00e9_f_x00e9_renceduDocument']}",
                              "FileIdentifier": "@{item()?['{Identifier}']}"
                            }
                          }
                        },
                        "Set_variable": {
                          "runAfter": {
                            "Select_-_ISSO_SharePoint_Files": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c242ad0b-c257-4b53-8557-815719863ae4"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "RecordsList",
                            "value": "@{body('Select_-_ISSO_SharePoint_Files')}"
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@variables('TableRecordOwner')",
                  "metadata": {
                    "operationMetadataId": "f6d8b269-c0d6-4b89-9ada-0195c2a7abf6"
                  },
                  "type": "Switch"
                }
              },
              "runAfter": {},
              "expression": {
                "not": {
                  "equals": [
                    "@variables('SharePointQuery')",
                    ""
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "cd87b8cd-568c-44a7-8863-cf940bb2834c"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Condition_-_ISSO_Check": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@variables('SharePointFileGroupId')",
                ""
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "6af64f25-7421-4e5f-8cec-c5bb3b611e2e"
          },
          "type": "If"
        },
        "Initialize_variable_-_SharePointFileIdList": {
          "runAfter": {
            "Initialize_variable_-_SharePointFileId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6f75bd49-04c3-4c90-95d9-26bcad77b751"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharePointFileIdList",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_-_SharePointQuery": {
          "runAfter": {
            "Initialize_variable_-_SharePointFileIdList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1863c397-b3a4-4bd5-af9c-a37ece78f685"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharePointQuery",
                "type": "string",
                "value": "@triggerBody()['text_4']"
              }
            ]
          }
        },
        "Response": {
          "runAfter": {
            "Condition_-_SharePointFileGroupId_is_not_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35500d44-26c1-450f-ab38-45429e6d875d"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@variables('RecordsList')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Title": {
                    "type": "string"
                  },
                  "Created": {
                    "type": "string"
                  },
                  "CategoryEnglish": {
                    "type": "string"
                  },
                  "CategoryFrench": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  },
                  "DocumentLink": {
                    "type": "string"
                  },
                  "DocumentType": {
                    "type": "string"
                  },
                  "DocumentReferenceID": {
                    "type": "string"
                  },
                  "FileIdentifier": {
                    "type": "string"
                  }
                },
                "required": [
                  "Title",
                  "Created",
                  "CategoryEnglish",
                  "CategoryFrench",
                  "Description",
                  "DocumentLink",
                  "DocumentType",
                  "DocumentReferenceID",
                  "FileIdentifier"
                ]
              }
            }
          }
        },
        "Condition_-_ISSO_Dev_Check": {
          "actions": {
            "Set_variable_-_Table_Record_Owner": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "469b4dd1-d023-44cb-a5fd-dee3759a6b1a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableRecordOwner",
                "value": "Intermodal Surface Security Oversight"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_SharePointFileGroupId": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('TableRecordOwner')",
              "Intermodal Surface Security Oversight (ISSO) (dev)"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd40c6cf-b69c-4b16-bf4e-cdd7f1ce3d55"
          },
          "type": "If"
        },
        "Condition_-_ISSO_Check": {
          "actions": {
            "Set_variable_-_Table_Record_Owner_to_ISSO": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "469b4dd1-d023-44cb-a5fd-dee3759a6b1a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TableRecordOwner",
                "value": "Intermodal Surface Security Oversight"
              }
            }
          },
          "runAfter": {
            "Condition_-_ISSO_Dev_Check": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('TableRecordOwner')",
              "Intermodal Surface Security Oversight (ISSO)"
            ]
          },
          "metadata": {
            "operationMetadataId": "68966b6e-76d5-4004-a9a1-730201bc9d51"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}