romts_gsrst/Workflows/SharePointFileSetupFile-F5882698-F969-EE11-9AE7-0022483D7716.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_DataverseROMTSGSRST"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "27b24a61-d8b3-4138-8347-c82c798f0d97"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "TableRecordID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter the GUID ID of the record (Example: Work Order ID)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "TableRecordOwner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The owning Business Unit",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "TableNameEnglish",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The English name of the table that the file belongs to.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "TableNameFrench",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The French name of the table that the file belongs to.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "TableRecordName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "The name of the record that the file belongs to (Example: The Stakeholder Name or Work Order Number)",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows_-_Check_SharePoint_File": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "95c637e0-3b9f-42bb-bb74-e02b714f4206"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ts_sharepointfiles",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ts_sharepointfile\">\n    <attribute name=\"ts_sharepointfileid\" />\n    <filter>\n      <condition attribute=\"ts_tablerecordid\" operator=\"eq\" value=\"@{triggerBody()['text']}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Condition_-_TableRecordID_does_not_exist_in_SharePoint_Files_Table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd6b4c3e-4405-4fb2-b4bf-6ef61446fa13"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "romsharepointfileid": "@variables('romSharePointFileID')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "romsharepointfileid": {
                  "title": "romSharePointFileID",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable_-_romSharePointFileID": {
          "runAfter": {
            "List_rows_-_Check_SharePoint_File": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "503fb4b0-bc9a-4c78-9f01-688ffc3cba57"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "romSharePointFileID",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_-_Check_SharePoint_File')?['body/value']",
          "actions": {
            "Set_variable_-_romSharePointFileID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2d5b0c41-e3be-4007-bc12-c7a43bbd2345"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "romSharePointFileID",
                "value": "@items('Apply_to_each')?['ts_sharepointfileid']"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_romSharePointFileID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25a3925e-f9c9-413f-8c57-4a9c270f457b"
          },
          "type": "Foreach"
        },
        "Condition_-_TableRecordID_does_not_exist_in_SharePoint_Files_Table": {
          "actions": {
            "Add_a_new_row_-_SharePoint_File": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12d58fed-5732-420d-bfba-fbae1784f5a0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_sharepointfiles",
                  "item/ts_name": "@triggerBody()['text_4']",
                  "item/ts_tablename": "@triggerBody()['text_2']",
                  "item/ts_tablenamefrench": "@triggerBody()['text_3']",
                  "item/ts_tablerecordid": "@triggerBody()['text']",
                  "item/ts_tablerecordname": "@triggerBody()['text_4']",
                  "item/ts_tablerecordowner": "@triggerBody()['text_1']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_-_new_romSharePointFileID": {
              "runAfter": {
                "Add_a_new_row_-_SharePoint_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e37aea0f-0c4f-4ca0-b24d-32113f6bb7f7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "romSharePointFileID",
                "value": "@outputs('Add_a_new_row_-_SharePoint_File')?['body/ts_sharepointfileid']"
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('romSharePointFileID')",
              ""
            ]
          },
          "metadata": {
            "operationMetadataId": "59943bd3-62a5-46b8-8b29-1f7a3d46bb7f"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}