romts_gsrst/Workflows/WorkOrderExportGeneratemainPDFsfromDOCtemplate-A1116DAA-4C1A-F111-8341-7C1E5254CF7D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedcommondataserviceforapps_ab028"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_wordonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedwordonlinebusiness_4034e"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_onedriveforbusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsOneDriveForBusiness"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "9ac16e34-7ea8-473c-bc73-57588043c365"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ts_workorderexportjob",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "statuscode eq 741130003 and ts_surveypayloadjson ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {
            "If_English": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b5798a2-936a-4f77-a7c8-81dd06750dfb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ts_workorderexportjobs",
              "recordId": "@triggerOutputs()?['body/ts_workorderexportjobid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Scope_Flow_Processing": {
          "actions": {
            "Compose_–_Payload_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5dac2949-75ee-4084-a7ec-2a367b5b8d06"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_a_row_by_ID')?['body/ts_payloadjson']"
            },
            "Parse_JSON": {
              "runAfter": {
                "Compose_–_Payload_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b81d864c-9e38-40ba-bea7-9811d4b93b20"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('Compose_–_Payload_JSON')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "WorkOrders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "WorkOrderId": {
                            "type": "string"
                          },
                          "WorkOrderNumber": {
                            "type": "string"
                          },
                          "WorkOrderDate": {
                            "type": "string"
                          },
                          "RegionName": {
                            "type": "string"
                          },
                          "OperationType": {
                            "type": "string"
                          },
                          "StakeholderName": {
                            "type": "string"
                          },
                          "SiteName": {
                            "type": "string"
                          },
                          "WorkLocation": {
                            "type": "string"
                          },
                          "PrimaryIncidentDescription": {
                            "type": "string"
                          },
                          "BusinessOwner": {
                            "type": "string"
                          },
                          "HasFindings": {
                            "type": "boolean"
                          },
                          "NoFindingsMessage": {
                            "type": "string"
                          },
                          "HasActions": {
                            "type": "boolean"
                          },
                          "NoActionsMessage": {
                            "type": "string"
                          },
                          "HasInteractions": {
                            "type": "boolean"
                          },
                          "NoInteractionsMessage": {
                            "type": "string"
                          },
                          "HasServiceTasks": {
                            "type": "boolean"
                          },
                          "NoServiceTasksMessage": {
                            "type": "string"
                          },
                          "HasServiceTaskDocuments": {
                            "type": "boolean"
                          },
                          "NoServiceTaskDocumentsMessage": {
                            "type": "string"
                          },
                          "HasContacts": {
                            "type": "boolean"
                          },
                          "NoContactsMessage": {
                            "type": "string"
                          },
                          "HasWorkOrderDocuments": {
                            "type": "boolean"
                          },
                          "NoWorkOrderDocumentsMessage": {
                            "type": "string"
                          },
                          "HasInspectionDocuments": {
                            "type": "boolean"
                          },
                          "NoInspectionDocumentsMessage": {
                            "type": "string"
                          },
                          "Findings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Finding_Description": {
                                  "type": "string"
                                },
                                "Finding_Type": {
                                  "type": "string"
                                },
                                "Finding_Status": {
                                  "type": "string"
                                },
                                "Finding_Enforcement": {
                                  "type": "string"
                                },
                                "Finding_Sensitivity": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Finding_Description",
                                "Finding_Type",
                                "Finding_Status",
                                "Finding_Enforcement",
                                "Finding_Sensitivity"
                              ]
                            }
                          },
                          "Actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Action_Name": {
                                  "type": "string"
                                },
                                "Action_Category": {
                                  "type": "string"
                                },
                                "Action_Type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Action_Name",
                                "Action_Category",
                                "Action_Type"
                              ]
                            }
                          },
                          "Interactions": {
                            "type": "array"
                          },
                          "WorkOrderDocuments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "WorkOrderDocument_Name": {
                                  "type": "string"
                                },
                                "WorkOrderDocument_Category": {
                                  "type": "string"
                                },
                                "WorkOrderDocument_Context": {
                                  "type": "string"
                                },
                                "WorkOrderDocument_Link": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "WorkOrderDocument_Name",
                                "WorkOrderDocument_Category",
                                "WorkOrderDocument_Context",
                                "WorkOrderDocument_Link"
                              ]
                            }
                          },
                          "InspectionDocuments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "InspectionDocument_Name": {
                                  "type": "string"
                                },
                                "InspectionDocument_Category": {
                                  "type": "string"
                                },
                                "InspectionDocument_Context": {
                                  "type": "string"
                                },
                                "InspectionDocument_Link": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "InspectionDocument_Name",
                                "InspectionDocument_Category",
                                "InspectionDocument_Context",
                                "InspectionDocument_Link"
                              ]
                            }
                          },
                          "ServiceTasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Task_Id": {
                                  "type": "string"
                                },
                                "Task_Name": {
                                  "type": "string"
                                },
                                "Task_Status": {
                                  "type": "string"
                                },
                                "Task_InspectionResult": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Task_Id",
                                "Task_Name",
                                "Task_Status",
                                "Task_InspectionResult"
                              ]
                            }
                          },
                          "ServiceTaskDocuments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Task_Name": {
                                  "type": "string"
                                },
                                "ServiceTaskDocument_Name": {
                                  "type": "string"
                                },
                                "ServiceTaskDocument_Category": {
                                  "type": "string"
                                },
                                "ServiceTaskDocument_Context": {
                                  "type": "string"
                                },
                                "ServiceTaskDocument_Link": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Task_Name",
                                "ServiceTaskDocument_Name",
                                "ServiceTaskDocument_Category",
                                "ServiceTaskDocument_Context",
                                "ServiceTaskDocument_Link"
                              ]
                            }
                          },
                          "Contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Contact_Name": {
                                  "type": "string"
                                },
                                "Contact_JobTitle": {
                                  "type": "string"
                                },
                                "Contact_Email": {
                                  "type": "string"
                                },
                                "Contact_Phone": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "Contact_Name",
                                "Contact_JobTitle",
                                "Contact_Email",
                                "Contact_Phone"
                              ]
                            }
                          }
                        },
                        "required": [
                          "WorkOrderId",
                          "WorkOrderNumber",
                          "WorkOrderDate",
                          "RegionName",
                          "OperationType",
                          "StakeholderName",
                          "SiteName",
                          "WorkLocation",
                          "PrimaryIncidentDescription",
                          "BusinessOwner",
                          "HasFindings",
                          "NoFindingsMessage",
                          "HasActions",
                          "NoActionsMessage",
                          "HasInteractions",
                          "NoInteractionsMessage",
                          "HasServiceTasks",
                          "NoServiceTasksMessage",
                          "HasServiceTaskDocuments",
                          "NoServiceTaskDocumentsMessage",
                          "HasContacts",
                          "NoContactsMessage",
                          "HasWorkOrderDocuments",
                          "NoWorkOrderDocumentsMessage",
                          "HasInspectionDocuments",
                          "NoInspectionDocumentsMessage",
                          "Findings",
                          "Actions",
                          "Interactions",
                          "WorkOrderDocuments",
                          "InspectionDocuments",
                          "ServiceTasks",
                          "ServiceTaskDocuments",
                          "Contacts"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Apply_to_each": {
              "foreach": "@body('Parse_JSON')?['WorkOrders']",
              "actions": {
                "Compose_–_PDF_File_Name": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "608b3e5d-2d8c-42fa-8a85-4d0731cc39eb"
                  },
                  "type": "Compose",
                  "inputs": "WO_@{items('Apply_to_each')?['WorkOrderId']}_MAIN.pdf"
                },
                "Convert_Word_Document_to_PDF_2": {
                  "runAfter": {
                    "Create_file_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ad77cb5b-a267-4d7f-91b1-40301595735d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_wordonlinebusiness",
                      "operationId": "GetFilePDF",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                    },
                    "parameters": {
                      "source": "me",
                      "drive": "b!MLZShIUzOUy5ZKS91iP8vMBdDNHP9NpNl43AVxAtsli9t_IgI-LeRaYLW0tJXfQm",
                      "file": "@outputs('Create_file_3')?['body/Path']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_file_3": {
                  "runAfter": {
                    "Populate_a_Microsoft_Word_template": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ee168995-ee24-4ddd-87f8-cca1e3f47c20"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness_1",
                      "operationId": "CreateFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "folderPath": "/WorkOrdersExports/.temporary_docs",
                      "name": "@{formatDateTime(utcNow(),'yyyyMMdd') }_WO_@{items('Apply_to_each')?['WorkOrderNumber']}.docx",
                      "body": "@body('Populate_a_Microsoft_Word_template')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Create_file_4_MIGHT_Need_TO_GO": {
                  "runAfter": {
                    "Convert_Word_Document_to_PDF_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f6c692bc-8623-43ab-9a21-d2df7b7c3260"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness_1",
                      "operationId": "CreateFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "folderPath": "@variables('folderPath')",
                      "name": "@outputs('Compose_–_PDF_File_Name')",
                      "body": "@body('Convert_Word_Document_to_PDF_2')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Add_a_new_row_(Notes)": {
                  "runAfter": {
                    "Compose_(base64_of_pdf)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6f03bfd2-4218-4743-84b8-c01d004bea15"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "Generated Main WO_@{items('Apply_to_each')?['WorkOrderNumber']} PDF",
                      "item/isdocument": true,
                      "item/documentbody": "@outputs('Compose_(base64_of_pdf)')",
                      "item/filename": "@outputs('Compose_–_PDF_File_Name')",
                      "item/mimetype": "application/pdf",
                      "item/objectid_ts_workorderexportjob@odata.bind": "/ts_workorderexportjobs(@{outputs('Get_a_row_by_ID')?['body/ts_workorderexportjobid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compose_(base64_of_pdf)": {
                  "runAfter": {
                    "Create_file_4_MIGHT_Need_TO_GO": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a87a99ab-33e6-4d07-af7d-842736234c37"
                  },
                  "type": "Compose",
                  "inputs": "@base64(body('Convert_Word_Document_to_PDF_2'))"
                },
                "Delete_file": {
                  "runAfter": {
                    "Increment_runningDoneUnits": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1b876709-4f0a-4038-b738-db100485e371"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness_1",
                      "operationId": "DeleteFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "id": "@outputs('Create_file_3')?['body/Id']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_a_row_2": {
                  "runAfter": {
                    "Add_a_new_row_(Notes)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6da534d1-ba0d-44e2-bf11-eb4f0467397a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ts_workorderexportjobs",
                      "recordId": "@outputs('Get_a_row_by_ID')?['body/ts_workorderexportjobid']",
                      "item/ts_doneunits": "@variables('runningDoneUnits')",
                      "item/ts_lastheartbeat": "@utcNow()",
                      "item/ts_progressmessage": "@concat(\r\n  '[Stage 2/3] Generating main PDFs... ',\r\n  string(variables('runningDoneUnits')),\r\n  '/',\r\n  string(variables('totalWorkOrders')),\r\n  ' (',\r\n  string(div(mul(variables('runningDoneUnits'), 100), variables('totalWorkOrders'))),\r\n  '%)'\r\n)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_currentWorkOrderNumber": {
                  "runAfter": {
                    "Compose_–_PDF_File_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3a6101e4-dd59-4bd1-b2f7-4e3d58ea7925"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "currentWorkOrderNumber",
                    "value": "@items('Apply_to_each')?['WorkOrderNumber']"
                  }
                },
                "Set_currentWorkOrderId": {
                  "runAfter": {
                    "Set_currentWorkOrderNumber": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "941b1cde-15aa-489b-abcb-601a5b2ed293"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "currentWorkOrderId",
                    "value": "@items('Apply_to_each')?['WorkOrderId']"
                  }
                },
                "Populate_a_Microsoft_Word_template": {
                  "runAfter": {
                    "Set_currentWorkOrderId": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "01GJVXCVGWVBAAY6DOFBA2GHXC2PXFVH73": "/WorkOrdersExports/WOExportTemplate.docx",
                    "operationMetadataId": "a27d0a2f-1b23-45a1-bd28-142fec2aef89"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_wordonlinebusiness",
                      "operationId": "CreateFileItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                    },
                    "parameters": {
                      "source": "me",
                      "drive": "b!MLZShIUzOUy5ZKS91iP8vMBdDNHP9NpNl43AVxAtsli9t_IgI-LeRaYLW0tJXfQm",
                      "file": "01GJVXCVGWVBAAY6DOFBA2GHXC2PXFVH73",
                      "dynamicFileSchema/753325090": "@items('Apply_to_each')?['OperationType']",
                      "dynamicFileSchema/864483102": "@concat(\r\n  'https://',\r\n  uriHost(outputs('Get_a_row_by_ID')?['body/@odata.id']),\r\n  '/main.aspx?appid=',\r\n  first(outputs('Get_ROM_app_id')?['body/value'])?['appmoduleid'],\r\n  '&pagetype=entityrecord&etn=msdyn_workorder&id=',\r\n  variables('currentWorkOrderId')\r\n)",
                      "dynamicFileSchema/870196557": "@items('Apply_to_each')?['WorkOrderDate']",
                      "dynamicFileSchema/879053440": "@items('Apply_to_each')?['Actions']",
                      "dynamicFileSchema/1093364203": "@items('Apply_to_each')?['Findings']",
                      "dynamicFileSchema/1295264155": "@items('Apply_to_each')?['ServiceTaskDocuments']",
                      "dynamicFileSchema/1516808847": "@items('Apply_to_each')?['Interactions']",
                      "dynamicFileSchema/1943643842": "@items('Apply_to_each')?['Contacts']",
                      "dynamicFileSchema/2038773573": "@items('Apply_to_each')?['StakeholderName']",
                      "dynamicFileSchema/-1329364067": "@items('Apply_to_each')?['WorkOrderNumber']",
                      "dynamicFileSchema/-1413461047": "@items('Apply_to_each')?['RegionName']",
                      "dynamicFileSchema/-1585221778": "@items('Apply_to_each')?['SiteName']",
                      "dynamicFileSchema/-818496960": "@items('Apply_to_each')?['WorkLocation']",
                      "dynamicFileSchema/-555624904": "@items('Apply_to_each')?['PrimaryIncidentDescription']",
                      "dynamicFileSchema/-1164622995": "@items('Apply_to_each')?['BusinessOwner']",
                      "dynamicFileSchema/-787588157": "@items('Apply_to_each')?['WorkOrderDocuments']",
                      "dynamicFileSchema/-888029844": "@items('Apply_to_each')?['InspectionDocuments']",
                      "dynamicFileSchema/-1143338785": "@items('Apply_to_each')?['ServiceTasks']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Increment_runningDoneUnits": {
                  "runAfter": {
                    "Update_a_row_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "81e5e24f-48e0-45c6-afd1-62056922a837"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "runningDoneUnits",
                    "value": 1
                  }
                }
              },
              "runAfter": {
                "Update_a_row_-_StatusReason_set_to_Flow_Running": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3c9e2430-fad5-444a-9f83-3993c6d6df4a"
              },
              "type": "Foreach"
            },
            "Update_a_row_-_StatusReason_set_to_Flow_Running": {
              "runAfter": {
                "Set_totalWorkOrders": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4fe22241-55b5-4187-a232-6b1fa93f8e1d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_workorderexportjobs",
                  "recordId": "@outputs('Get_a_row_by_ID')?['body/ts_workorderexportjobid']",
                  "item/ts_lastheartbeat": "@utcNow()",
                  "item/ts_progressmessage": "[Stage 2/3] Starting main PDF generation...",
                  "item/statuscode": 741130004,
                  "item/ts_totalunits": "@variables('totalWorkOrders')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_totalWorkOrders": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "97ae572f-2616-4c59-a10f-764b83049178"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "totalWorkOrders",
                "value": "@length(body('Parse_JSON')?['WorkOrders'])"
              }
            }
          },
          "runAfter": {
            "Initialize_folder_path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cbeba47e-0594-4765-a8c1-af5c2f228585"
          },
          "type": "Scope"
        },
        "Initialize_folder_path": {
          "runAfter": {
            "Initialize_currentWorkOrderNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db5c05d0-9c8a-4b85-8fa8-cfc2c52e0d6d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "folderPath",
                "type": "string",
                "value": "@{concat('/WorkOrdersExports/.temporary_pdfs/', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'))}"
              }
            ]
          }
        },
        "Scope_-_on_Success": {
          "actions": {
            "Update_a_row_-_StatusReason_set_to_Ready_For_Merge": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e7cf91d9-9335-4ec5-8112-4061e0f11a97"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_workorderexportjobs",
                  "recordId": "@outputs('Get_a_row_by_ID')?['body/ts_workorderexportjobid']",
                  "item/ts_doneunits": "@variables('runningDoneUnits')",
                  "item/ts_lastheartbeat": "@utcNow()",
                  "item/ts_progressmessage": "@concat(\r\n  '[Stage 2/3] Main PDF generation completed (',\r\n  string(variables('totalWorkOrders')),\r\n  ' work orders)'\r\n)",
                  "item/statuscode": 741130005
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope_Flow_Processing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb0c600a-ba83-4e67-8a78-93bc889526f4"
          },
          "type": "Scope"
        },
        "Initialize_runningDoneUnits": {
          "runAfter": {
            "Apply_to_each_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00f7057f-6ff4-426e-80bf-7be04dfc1aec"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "runningDoneUnits",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_totalWorkOrders": {
          "runAfter": {
            "Initialize_runningDoneUnits": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b85f426-7a37-4d55-8143-9e491f82e5d9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "totalWorkOrders",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Scope_-_On_Failure": {
          "actions": {
            "Get_Notes": {
              "runAfter": {
                "Apply_to_each_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4aa384a7-ce9a-4def-b636-977079703055"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "annotations",
                  "$select": "annotationid",
                  "$filter": "_objectid_value eq '@{outputs('Get_a_row_by_ID')?['body/ts_workorderexportjobid']\r\n}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('Get_Notes')?['body/value']",
              "actions": {
                "Delete_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b6d4db23-0f94-44f1-9e1d-a67fcaa4601c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "recordId": "@items('Apply_to_each_2')?['annotationid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Notes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fa8b481d-a628-4c6a-adea-3e5c98a9fb07"
              },
              "type": "Foreach"
            },
            "Apply_to_each_3": {
              "foreach": "@body('Parse_JSON')?['WorkOrders']",
              "actions": {
                "Update_a_row_-_StatusReason_set_to_Error": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e7cf91d9-9335-4ec5-8112-4061e0f11a97"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ts_workorderexportjobs",
                      "recordId": "@outputs('Get_a_row_by_ID')?['body/ts_workorderexportjobid']",
                      "item/ts_doneunits": "@variables('runningDoneUnits')",
                      "item/ts_errormessage": "@concat(variables('errorMessage'), coalesce(variables('currentWorkOrderNumber'), 'Unknown'), ' (', coalesce(variables('currentWorkOrderId'), 'Unknown ID'), '). Flow run: ', coalesce(workflow()?['run']?['name'], 'N/A'), '. Please retry the export.')",
                      "item/ts_lastheartbeat": "@utcNow()",
                      "item/ts_progressmessage": "@concat(variables('progressMessageError'), string(variables('runningDoneUnits')), '/', string(variables('totalWorkOrders')))",
                      "item/statuscode": 741130007
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d12d405d-be1a-4b9c-a65d-432f4d825189"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Scope_Flow_Processing": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "9be05b27-2d10-42e5-a5a0-50be8cd19703"
          },
          "type": "Scope"
        },
        "Initialize_currentWorkOrderId": {
          "runAfter": {
            "Initialize_totalWorkOrders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2a4c23eb-08dd-4f73-8cc7-98b5e8e9ccfd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "currentWorkOrderId",
                "type": "string",
                "value": "Not Started"
              }
            ]
          }
        },
        "Initialize_currentWorkOrderNumber": {
          "runAfter": {
            "Initialize_currentWorkOrderId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d3b82693-a961-4ba4-9363-75477f372113"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "currentWorkOrderNumber",
                "type": "string",
                "value": "Not Started"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9b0a7fb8-0ad6-4d8f-896d-c78a28ad1ea4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "romAppId",
                "type": "string"
              }
            ]
          }
        },
        "Get_ROM_app_id": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cac59fbe-247b-4150-bb57-5a18e8e71ed7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "appmodules",
              "$select": "uniquename, appmoduleid",
              "$filter": "uniquename eq 'ovs_ROM'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_4": {
          "foreach": "@outputs('Get_ROM_app_id')?['body/value']",
          "actions": {
            "Set_romAppId": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c1512dc3-f72d-4147-afee-a411455721ae"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "romAppId",
                "value": "@items('Apply_to_each_4')?['appmoduleid']"
              }
            }
          },
          "runAfter": {
            "Get_ROM_app_id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bb7b8359-510a-4fb7-a9d9-eb1f6df5965a"
          },
          "type": "Foreach"
        },
        "Get_whoever_ran_the_export_job": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "70e7cdf5-5ce4-4ac1-b64d-2e65b006f4dc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_modifiedby_value']",
              "$select": "systemuserid"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "If_English": {
          "actions": {
            "progressMessage_to_english": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "progressMessage",
                "value": "Work order PDFs: "
              }
            },
            "stage2Complete_to_english": {
              "runAfter": {
                "progressMessage_to_english": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "stage2Complete",
                "value": "Completed"
              }
            },
            "progressMessageError_to_english": {
              "runAfter": {
                "stage2Complete_to_english": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "progressMessageError",
                "value": "❌ [Stage 2/3] Flow failed. Check error. Main PDFs:"
              }
            },
            "errorMessage_to_english": {
              "runAfter": {
                "progressMessageError_to_english": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "errorMessage",
                "value": "Main PDF generation failed for work order"
              }
            }
          },
          "runAfter": {
            "Initialize_errorMessage_label": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "progressMessage_to_french": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "64afee5f-420a-4fad-9fc0-404f2b1e1f98"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "progressMessage",
                  "value": "PDFs des ordres de travail: "
                }
              },
              "stage2Complete_to_french": {
                "runAfter": {
                  "progressMessage_to_french": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "stage2Complete",
                  "value": "Terminé"
                }
              },
              "errorMessage_to_french": {
                "runAfter": {
                  "progressMessageError_to_french": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "errorMessage",
                  "value": "La génération du PDF principal a échoué pour l'ordre de travail"
                }
              },
              "progressMessageError_to_french": {
                "runAfter": {
                  "stage2Complete_to_french": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2d0684c5-ad5c-4816-85ea-ab99a938fd09"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "progressMessageError",
                  "value": "❌ [Stage 2/3] Échec du flux. Voir l'erreur. PDFs principaux :"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_the_user_language')?['body/uilanguageid']",
              1033
            ]
          },
          "metadata": {
            "operationMetadataId": "b1bfacc0-e525-474a-8604-482a0239c9e4"
          },
          "type": "If"
        },
        "Get_the_user_language": {
          "runAfter": {
            "Get_whoever_ran_the_export_job": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a10b640-22e1-464f-9fcd-295f0725c9dd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "usersettingscollection",
              "recordId": "@outputs('Get_whoever_ran_the_export_job')?['body/systemuserid']",
              "$select": "uilanguageid"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_progressMessage_label": {
          "runAfter": {
            "Get_the_user_language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfffcb2c-45ba-460c-bea1-98235a05e580"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "progressMessage",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_stage2Complete_label": {
          "runAfter": {
            "Initialize_progressMessage_label": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfffcb2c-45ba-460c-bea1-98235a05e580"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "stage2Complete",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_progressMessageError_label": {
          "runAfter": {
            "Initialize_stage2Complete_label": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfffcb2c-45ba-460c-bea1-98235a05e580"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "progressMessageError",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_errorMessage_label": {
          "runAfter": {
            "Initialize_progressMessageError_label": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfffcb2c-45ba-460c-bea1-98235a05e580"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "errorMessage",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}