romts_gsrst/Workflows/WorkOrderServiceTaskCreateInfraction-3AEF1390-5DDE-EF11-8EEA-6045BD60CA8A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_DataverseROMTSGSRST"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedcommondataserviceforapps_ab028"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "72432de7-9b04-4fcd-ad0f-d353f4e500ee"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msdyn_workorderservicetask",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [],
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "List_rows_of_Findings": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5010b6ac-a13c-401e-bd06-48e6be84889a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_findings",
              "fetchXml": "<fetch>\n  <entity name=\"ovs_finding\">\n <filter type=\"and\">\n      <condition attribute=\"ts_findingtype\" operator=\"eq\" value=\"717750002\" /></filter>\n    <link-entity name=\"msdyn_workorderservicetask\" from=\"msdyn_workorderservicetaskid\" to=\"ovs_workorderservicetaskid\" link-type=\"inner\" alias=\"ae\">\n      <filter type=\"and\">\n        <condition attribute=\"msdyn_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/msdyn_name']}\"/>\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_of_Findings')?['body/value']",
          "actions": {
            "Get_a_row_by_ID_-_Legislation_Finding": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "33327267-7067-4205-9654-bcbef844250a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "qm_rclegislations",
                  "recordId": "@items('Apply_to_each')?['_ts_qm_rclegislation_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows_Legislation_Causes": {
              "runAfter": {
                "Get_a_row_by_ID_-_Legislation_Finding": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "97b323d9-4c20-46b7-9201-ab219e7513e0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "qm_rclegislations",
                  "fetchXml": "<fetch>\n  <entity name=\"qm_rclegislation\">\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n    </filter>\n    <link-entity name=\"ts_qm_rclegislation_causes\" from=\"qm_rclegislationidone\" to=\"qm_rclegislationid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"qm_rclegislation\" from=\"qm_rclegislationid\" to=\"qm_rclegislationidtwo\" alias=\"as\">\n        <filter type=\"and\">\n          <condition attribute=\"ts_nameenglish\" operator=\"eq\" value=\"@{outputs('Get_a_row_by_ID_-_Legislation_Finding')?['body/ts_nameenglish']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('List_rows_Legislation_Causes')?['body/value']",
              "actions": {
                "Append_to_LegislationFindingArray": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5730913f-6d2d-4bea-846b-c4de512b32f9"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "legislationFindingArray",
                    "value": {
                      "ID": "@items('Apply_to_each_2')?['qm_rclegislationid']",
                      "FindingLeg": "@items('Apply_to_each')?['_ts_qm_rclegislation_value']",
                      "InfractionLeg": "@items('Apply_to_each_2')?['ts_nameenglish']",
                      "InfractionType": "@items('Apply_to_each_2')?['ts_infractiontype']",
                      "FindingID": "@items('Apply_to_each')?['ovs_findingid']",
                      "FindingName": "@items('Apply_to_each')?['ovs_finding']"
                    }
                  }
                },
                "Condition": {
                  "actions": {
                    "Append_to_array_variable_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6760471b-1437-4380-b1a0-d44299bc3b65"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "legislationCausesArray",
                        "value": {
                          "ID": "@items('Apply_to_each_2')?['qm_rclegislationid']",
                          "NameEN": "@items('Apply_to_each_2')?['ts_nameenglish']",
                          "InfractionType": "@items('Apply_to_each_2')?['ts_infractiontype']",
                          "Finding": "@items('Apply_to_each')?['ovs_findingid']",
                          "FindingName": "@items('Apply_to_each')?['ovs_finding']",
                          "Site": "@outputs('Get_a_row_by_ID_-_Site')?['body/msdyn_functionallocationid']",
                          "OperationType": "@outputs('Get_a_row_by_ID_-_Operation_Type')?['body/ovs_operationtypeid']",
                          "Operation": "@outputs('Get_a_row_by_ID_-_Operation')?['body/ovs_operationid']",
                          "Stakeholder": "@outputs('Get_a_row_by_ID_-_Stakeholder')?['body/accountid']",
                          "Contact": "@outputs('Get_a_row_by_ID_-_User')?['body/systemuserid']",
                          "WO": "@outputs('Get_a_row_by_ID_-_WO')?['body/msdyn_workorderid']",
                          "Case": "@outputs('Get_a_row_by_ID_-_Case')?['body/incidentid']",
                          "Region": "@variables('RegionId')",
                          "ProvisionTextEn": "@items('Apply_to_each')?['ts_findingprovisiontexten']",
                          "ProvisionTextFr": "@items('Apply_to_each')?['ts_findingprovisiontextfr']",
                          "ProvisionTextE": "@items('Apply_to_each_2')?['qm_legislationetxt']",
                          "ProvisionTextF": "@items('Apply_to_each_2')?['qm_legislationftxt']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_3": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "contains": [
                        "@variables('legislationCausesArray')",
                        "@items('Apply_to_each_2')?['ts_nameenglish']"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "134581f9-89fe-405c-bdfc-7cc5f603dce0"
                  },
                  "type": "If"
                },
                "Get_a_row_by_ID_-_Site": {
                  "runAfter": {
                    "Append_to_LegislationFindingArray": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "677c1cd9-fddb-4267-9fe6-f865c6a99752"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_functionallocations",
                      "recordId": "@items('Apply_to_each')?['_ts_functionallocation_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_a_row_by_ID_-_Operation_Type": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_Site": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "40746240-53ab-4ce2-ab86-ae5b8cf1a7c8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ovs_operationtypes",
                      "recordId": "@items('Apply_to_each')?['_ts_ovs_operationtype_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_a_row_by_ID_-_Operation": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_Operation_Type": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e3b89852-691f-456a-8397-d78e651c00ab"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ovs_operations",
                      "recordId": "@items('apply_to_each')?['_ts_operationid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_a_row_by_ID_-_Stakeholder": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_Operation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a84b363-d8f7-495a-a51a-619560f76b08"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('apply_to_each')?['_ts_accountid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_3": {
                  "actions": {
                    "Get_a_row_by_ID_-_User": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7c65d55a-d3fd-42c4-b564-f926f7059d07"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "systemusers",
                          "recordId": "@items('apply_to_each')?['_ts_contact_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Get_a_row_by_ID_-_User": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cb280e79-350d-415a-baf6-1dd80e285d0b"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "hasContact",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('apply_to_each')?['_ts_contact_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9f71a920-e2b6-4642-8268-cb3f79ddf25c"
                  },
                  "type": "If"
                },
                "Get_a_row_by_ID_-_WO": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_Stakeholder": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a82c9eb7-9d5e-4330-a969-9c389279bb13"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_workorders",
                      "recordId": "@items('Apply_to_each')?['_ts_workorder_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_a_row_by_ID_-_Case": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_WO": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2dfe34aa-7f20-4d15-a078-dda29cc4a1a2"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "incidents",
                      "recordId": "@items('Apply_to_each')?['_ovs_caseid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable_2": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_Case": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b2786d5d-a363-4101-8bba-31469ce39031"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RegionId",
                    "value": "@outputs('Get_a_row_by_ID_-_WO')?['body/_ts_region_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows_Legislation_Causes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7789c935-11b1-40fa-be80-787b88bea79c"
              },
              "type": "Foreach"
            },
            "Compose_LegislationCause": {
              "runAfter": {
                "Compose_LegislationFinding": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2e356ec3-e86a-441a-860b-d9c809ad881a"
              },
              "type": "Compose",
              "inputs": "@variables('legislationCausesArray')"
            },
            "Compose_LegislationFinding": {
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "603dbb44-1244-4b9a-a4e9-44f82b769725"
              },
              "type": "Compose",
              "inputs": "@variables('legislationFindingArray')"
            }
          },
          "runAfter": {
            "Initialize_variable_infractionCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82ec563e-60ba-493c-92d3-3c9971f91a9d"
          },
          "type": "Foreach"
        },
        "Initialize_variable_legislationFindingArray": {
          "runAfter": {
            "List_rows_of_Findings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bc736b3-81da-4602-8454-97c0ce6fda95"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "legislationFindingArray",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_legislationCausesArray": {
          "runAfter": {
            "Initialize_variable_legislationFindingArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ae03ffe-16e7-4736-88ab-f3c7ef4d57e9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "legislationCausesArray",
                "type": "array"
              }
            ]
          }
        },
        "Apply_to_each_3": {
          "foreach": "@variables('legislationCausesArray')",
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d710bd43-1ce6-493d-a2f2-e9fea4e3aceb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_infractions",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"ts_infraction\">\n    <link-entity name=\"ovs_finding\" from=\"ts_infraction\" to=\"ts_infractionid\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"ovs_finding\" operator=\"eq\" value=\"@{items('Apply_to_each_3')?['FindingName']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_6": {
              "actions": {
                "Condition_4": {
                  "actions": {
                    "Increment_variable_infractionCount": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "af7c153d-498a-44df-81ca-f4c5fbf6c6f5"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "infractionCount",
                        "value": 1
                      }
                    },
                    "Add_a_new_row": {
                      "runAfter": {
                        "Increment_variable_infractionCount": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b69e6d85-4caf-4ce8-b15d-370eec494500"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ts_infractions",
                          "item/ts_name": "110-@{substring(items('Apply_to_each_3')?['FindingName'],4,6)}-@{variables('infractionCount')}",
                          "item/ts_Case@odata.bind": "incidents(@{items('Apply_to_each_3')?['Case']})",
                          "item/ts_contact@odata.bind": "systemusers(@{items('apply_to_each_3')?['Contact']})",
                          "item/ts_infractiontype": "@items('Apply_to_each_3')?['InfractionType']",
                          "item/ts_legislation@odata.bind": "qm_rclegislations(@{items('Apply_to_each_3')?['ID']})",
                          "item/ts_operation@odata.bind": "ovs_operations(@{items('Apply_to_each_3')?['Operation']})",
                          "item/ts_operationtype@odata.bind": "ovs_operationtypes(@{items('apply_to_each_3')?['OperationType']})",
                          "item/ts_infractionprovisiontexten": "@items('Apply_to_each_3')?['ProvisionTextEn']",
                          "item/ts_infractionprovisiontextfr": "@items('Apply_to_each_3')?['ProvisionTextFr']",
                          "item/ts_Region@odata.bind": "territories(@{items('Apply_to_each_3')?['Region']})",
                          "item/ts_functionallocation@odata.bind": "msdyn_functionallocations(@{items('Apply_to_each_3')?['Site']})",
                          "item/ts_stakeholder@odata.bind": "accounts(@{items('apply_to_each_3')?['Stakeholder']})",
                          "item/ts_WorkOrder@odata.bind": "msdyn_workorders(@{items('Apply_to_each_3')?['WO']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Increment_variable_infractionCount_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "dfeef075-bec0-49f2-b1e4-3fa6721ee39f"
                        },
                        "type": "IncrementVariable",
                        "inputs": {
                          "name": "infractionCount",
                          "value": 1
                        }
                      },
                      "Add_a_new_row_2": {
                        "runAfter": {
                          "Increment_variable_infractionCount_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "d9fbbad4-5a2c-4afb-899f-6a07abb84c65"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_2",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "ts_infractions",
                            "item/ts_name": "110-@{substring(items('Apply_to_each_3')?['FindingName'],4,6)}-@{variables('infractionCount')}",
                            "item/ts_Case@odata.bind": "incidents(@{items('Apply_to_each_3')?['Case']})",
                            "item/ts_infractiontype": "@items('Apply_to_each_3')?['InfractionType']",
                            "item/ts_legislation@odata.bind": "qm_rclegislations(@{items('Apply_to_each_3')?['ID']})",
                            "item/ts_operation@odata.bind": "ovs_operations(@{items('apply_to_each_3')?['Operation']})",
                            "item/ts_operationtype@odata.bind": "ovs_operationtypes(@{items('apply_to_each_3')?['OperationType']})",
                            "item/ts_infractionprovisiontexten": "@items('Apply_to_each_3')?['ProvisionTextEn']",
                            "item/ts_infractionprovisiontextfr": "@items('Apply_to_each_3')?['ProvisionTextFr']",
                            "item/ts_Region@odata.bind": "territories(@{items('Apply_to_each_3')?['Region']})",
                            "item/ts_functionallocation@odata.bind": "msdyn_functionallocations(@{items('Apply_to_each_3')?['Site']})",
                            "item/ts_stakeholder@odata.bind": "accounts(@{items('apply_to_each_3')?['Stakeholder']})",
                            "item/ts_WorkOrder@odata.bind": "msdyn_workorders(@{items('Apply_to_each_3')?['WO']})"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('hasContact')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "94d5398f-bc0d-4628-a641-a3e90a79b3e8"
                  },
                  "type": "If"
                },
                "Apply_to_each_4": {
                  "foreach": "@variables('legislationFindingArray')",
                  "actions": {
                    "Compose_LegislationFinding_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "117e1c8f-47a2-44ae-b815-ca42e3405ad9"
                      },
                      "type": "Compose",
                      "inputs": "@variables('legislationFindingArray')"
                    },
                    "Condition_2": {
                      "actions": {
                        "Condition_5": {
                          "actions": {
                            "Update_a_row_2": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "024f1d90-99c0-4047-a423-2c86c5fec1d4"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "ovs_findings",
                                  "recordId": "@items('apply_to_each_4')?['FindingID']",
                                  "item/ts_infraction@odata.bind": "/ts_infractions(@{outputs('Add_a_new_row')?['body/ts_infractionid']})"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Update_a_row_3": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "024f1d90-99c0-4047-a423-2c86c5fec1d4"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "UpdateOnlyRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "ovs_findings",
                                    "recordId": "@items('apply_to_each_4')?['FindingID']",
                                    "item/ts_infraction@odata.bind": "/ts_infractions(@{outputs('Add_a_new_row_2')?['body/ts_infractionid']})"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('hasContact')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "524270be-859a-44b7-ba68-10bf894ccff6"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Compose_LegislationFinding_2": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each_4')?['ID']",
                          "@items('Apply_to_each_3')?['ID']"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2032b7df-2654-4a4f-a71f-d05a164e7ea8"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Condition_4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d8fe647d-1f90-48f6-80b4-f9f962fa0a4b"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('List_rows')?['body/value'])",
                  "@0"
                ]
              },
              "metadata": {
                "operationMetadataId": "cbb0535e-e347-4041-89ae-c9d27966dc74"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1bf3a3bf-8273-4b15-b83b-479d22ab8dba"
          },
          "type": "Foreach"
        },
        "Initialize_variable_hasContact": {
          "runAfter": {
            "Initialize_variable_legislationCausesArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a0124bed-9911-4594-bde9-28341bed219d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "hasContact",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Initialize_variable_RegionId": {
          "runAfter": {
            "Initialize_variable_hasContact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a3f0a46-8faf-475f-aa55-d3173dc728df"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RegionId",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_infractionCount": {
          "runAfter": {
            "Initialize_variable_RegionId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "024e0d19-84a5-4d1b-af44-47243884765d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "infractionCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}