romts_gsrst/Workflows/WorkOrderServiceTaskCreateInfraction-3AEF1390-5DDE-EF11-8EEA-6045BD60CA8A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_DataverseROMTSGSRST"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_sharedcommondataserviceforapps_ab028"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "72432de7-9b04-4fcd-ad0f-d353f4e500ee"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "msdyn_workorderservicetask",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows_of_Findings": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5010b6ac-a13c-401e-bd06-48e6be84889a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_findings",
              "fetchXml": "<fetch>\n  <entity name=\"ovs_finding\">\n <filter type=\"and\">\n      <condition attribute=\"ts_findingtype\" operator=\"eq\" value=\"717750002\" /></filter>\n    <link-entity name=\"msdyn_workorderservicetask\" from=\"msdyn_workorderservicetaskid\" to=\"ovs_workorderservicetaskid\" link-type=\"inner\" alias=\"ae\">\n      <filter type=\"and\">\n        <condition attribute=\"msdyn_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/msdyn_name']}\"/>\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_of_Findings')?['body/value']",
          "actions": {
            "Get_a_row_by_ID_-_Legislation_Finding": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "33327267-7067-4205-9654-bcbef844250a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "qm_rclegislations",
                  "recordId": "@items('Apply_to_each')?['_ts_qm_rclegislation_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows_Legislation_Causes": {
              "runAfter": {
                "Get_a_row_by_ID_-_Legislation_Finding": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "97b323d9-4c20-46b7-9201-ab219e7513e0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "qm_rclegislations",
                  "fetchXml": "<fetch>\n  <entity name=\"qm_rclegislation\">\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n    </filter>\n    <link-entity name=\"ts_qm_rclegislation_causes\" from=\"qm_rclegislationidone\" to=\"qm_rclegislationid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"qm_rclegislation\" from=\"qm_rclegislationid\" to=\"qm_rclegislationidtwo\" alias=\"as\">\n        <filter type=\"and\">\n          <condition attribute=\"ts_nameenglish\" operator=\"eq\" value=\"@{outputs('Get_a_row_by_ID_-_Legislation_Finding')?['body/ts_nameenglish']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('List_rows_Legislation_Causes')?['body/value']",
              "actions": {
                "Append_to_LegislationFindingArray": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5730913f-6d2d-4bea-846b-c4de512b32f9"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "legislationFindingArray",
                    "value": {
                      "ID": "@items('Apply_to_each_2')?['qm_rclegislationid']",
                      "FindingLeg": "@items('Apply_to_each')?['_ts_qm_rclegislation_value']",
                      "InfractionLeg": "@items('Apply_to_each_2')?['ts_nameenglish']",
                      "InfractionType": "@items('Apply_to_each_2')?['ts_infractiontype']",
                      "FindingID": "@items('Apply_to_each')?['ovs_findingid']",
                      "FindingName": "@items('Apply_to_each')?['ovs_finding']"
                    }
                  }
                },
                "Condition": {
                  "actions": {
                    "Append_to_array_variable_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6760471b-1437-4380-b1a0-d44299bc3b65"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "legislationCausesArray",
                        "value": {
                          "ID": "@items('Apply_to_each_2')?['qm_rclegislationid']",
                          "NameEN": "@items('Apply_to_each_2')?['ts_nameenglish']",
                          "InfractionType": "@items('Apply_to_each_2')?['ts_infractiontype']",
                          "Finding": "@items('Apply_to_each')?['ovs_findingid']",
                          "Site": "@outputs('Get_a_row_by_ID')?['body/msdyn_functionallocationid']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Get_a_row_by_ID": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "contains": [
                        "@variables('legislationCausesArray')",
                        "@items('Apply_to_each_2')?['ts_nameenglish']"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "134581f9-89fe-405c-bdfc-7cc5f603dce0"
                  },
                  "type": "If"
                },
                "Get_a_row_by_ID": {
                  "runAfter": {
                    "Append_to_LegislationFindingArray": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "677c1cd9-fddb-4267-9fe6-f865c6a99752"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msdyn_functionallocations",
                      "recordId": "@items('Apply_to_each')?['_ts_functionallocation_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows_Legislation_Causes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7789c935-11b1-40fa-be80-787b88bea79c"
              },
              "type": "Foreach"
            },
            "Compose_LegislationCause": {
              "runAfter": {
                "Compose_LegislationFinding": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2e356ec3-e86a-441a-860b-d9c809ad881a"
              },
              "type": "Compose",
              "inputs": "@variables('legislationCausesArray')"
            },
            "Compose_LegislationFinding": {
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "603dbb44-1244-4b9a-a4e9-44f82b769725"
              },
              "type": "Compose",
              "inputs": "@variables('legislationFindingArray')"
            }
          },
          "runAfter": {
            "Initialize_variable_legislationCausesArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82ec563e-60ba-493c-92d3-3c9971f91a9d"
          },
          "type": "Foreach"
        },
        "Initialize_variable_legislationFindingArray": {
          "runAfter": {
            "List_rows_of_Findings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bc736b3-81da-4602-8454-97c0ce6fda95"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "legislationFindingArray",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_legislationCausesArray": {
          "runAfter": {
            "Initialize_variable_legislationFindingArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ae03ffe-16e7-4736-88ab-f3c7ef4d57e9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "legislationCausesArray",
                "type": "array"
              }
            ]
          }
        },
        "Apply_to_each_3": {
          "foreach": "@variables('legislationCausesArray')",
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b69e6d85-4caf-4ce8-b15d-370eec494500"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_infractions",
                  "item/ts_name": "Infraction - @{items('Apply_to_each_3')?['NameEN']}",
                  "item/ts_infractiontype": "@items('Apply_to_each_3')?['InfractionType']",
                  "item/ts_legislation@odata.bind": "qm_rclegislations(@{items('Apply_to_each_3')?['ID']})",
                  "item/ts_functionallocation@odata.bind": "msdyn_functionallocations(@{items('Apply_to_each_3')?['Site']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_4": {
              "foreach": "@variables('legislationFindingArray')",
              "actions": {
                "Compose_LegislationFinding_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "117e1c8f-47a2-44ae-b815-ca42e3405ad9"
                  },
                  "type": "Compose",
                  "inputs": "@variables('legislationFindingArray')"
                },
                "Condition_2": {
                  "actions": {
                    "Update_a_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "024f1d90-99c0-4047-a423-2c86c5fec1d4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ovs_findings",
                          "recordId": "@items('apply_to_each_4')?['FindingID']",
                          "item/ts_infraction@odata.bind": "/ts_infractions(@{outputs('Add_a_new_row')?['body/ts_infractionid']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Compose_LegislationFinding_2": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_4')?['ID']",
                      "@items('Apply_to_each_3')?['ID']"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2032b7df-2654-4a4f-a71f-d05a164e7ea8"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d8fe647d-1f90-48f6-80b4-f9f962fa0a4b"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1bf3a3bf-8273-4b15-b83b-479d22ab8dba"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}