PassengerProtectProgram/Workflows/Recurrence-DeleteTravellerafter7years-5FFD45AE-E6B6-EA11-A812-000D3A0C8127.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ovs_sharedcommondataserviceforapps_3d9e0"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "weekDays": [
                "Saturday"
              ],
              "hours": [
                "1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "258d445f-0723-4831-a910-c4dccd7b227a"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Apply_to_each": {
          "foreach": "@outputs('List_records')?['body/value']",
          "actions": {
            "Delete_a_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c96bf91d-74d3-4121-bdce-6037ff146e5b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "DeleteRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ppp_travellers",
                  "recordId": "@items('Apply_to_each')?['ppp_travellerid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd137c9a-1849-4a33-a818-a8cb4d00fa07"
          },
          "type": "Foreach"
        },
        "List_records": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b7a3194e-3923-4a1b-a0bb-abd16515df39"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ppp_travellers",
              "$filter": "Microsoft.Dynamics.CRM.OlderThanXYears(PropertyName='modifiedon',PropertyValue=7)"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}