PassengerProtectProgram/Workflows/SendTravellerRecordClosedNotification-150538A9-7BDD-EA11-A813-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ppp_sharedcommondataserviceforapps_7f22b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"ppp_traveller","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ppp_recordstatus","subscriptionRequest/filterexpression":"ppp_matchfound ne null and ppp_recordstatus eq 927820002"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Owner_of_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"List_Users_in_PPP_Manager_Team":{"runAfter":{"Get_Owner_of_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"(teammembership_association/any(t:t/name eq 'ppp manager'))"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('List_Users_in_PPP_Manager_Team')?['body/value']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@items('Apply_to_each_2')?['internalemailaddress']","emailMessage/Subject":"Traveller Validation Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} Closed. Match Confirmed / Numéro de dossier pour la validation du voyageur @{triggerOutputs()?['body/ppp_travellerautonumber']} Fermé.  Correspondance positive\n","emailMessage/Body":"<p>Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} has been Closed. A match of the traveller was confirmed.<br>\n<br>\nRecord Owner: @{outputs('Get_Owner_of_Record')?['body/firstname']} @{outputs('Get_Owner_of_Record')?['body/lastname']}.<br>\n<br>\n****<br>\n<br>\nNuméro de dossier @{triggerOutputs()?['body/ppp_travellerautonumber']} a été fermé. &nbsp;Correspondance positive du voyageur a été confirmé<br>\n<br>\n<br>\nPropriétaire du dossier : @{outputs('Get_Owner_of_Record')?['body/firstname']} @{outputs('Get_Owner_of_Record')?['body/lastname']}.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_Users_in_PPP_Manager_Team":["Succeeded"]},"else":{"actions":{"Apply_to_each_3":{"foreach":"@outputs('List_Users_in_PPP_Manager_Team')?['body/value']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@items('Apply_to_each_3')?['internalemailaddress']","emailMessage/Subject":"Traveller Validation Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} Closed. No Match. / Numéro de dossier pour la validation du voyageur @{triggerOutputs()?['body/ppp_travellerautonumber']} Fermé.  Pas de correspondance positive.","emailMessage/Body":"<p>Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} has been Closed. No Match of the traveller was confirmed.<br>\n<br>\nRecord Owner: @{outputs('Get_Owner_of_Record')?['body/firstname']} @{outputs('Get_Owner_of_Record')?['body/lastname']}.<br>\n<br>\n****<br>\n<br>\nNuméro de dossier @{triggerOutputs()?['body/ppp_travellerautonumber']} a été fermé. &nbsp;Pas de correspondance positive du voyageur a été confirmé.<br>\n<br>\nPropriétaire du dossier : @{outputs('Get_Owner_of_Record')?['body/firstname']} @{outputs('Get_Owner_of_Record')?['body/lastname']}.<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@triggerOutputs()?['body/ppp_matchfound']",927820000]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}