PassengerProtectProgram/Workflows/SendManagerTeamNotificationofAirCarrierInquiry-D49C312F-1BD8-EA11-A813-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ppp_sharedcommondataserviceforapps_7f22b"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ppp_traveller","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ppp_calltype","subscriptionRequest/filterexpression":"ppp_calltype eq 927820002"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"List_Users_in_PPP_Manager_Team":{"runAfter":{"Get_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"(teammembership_association/any(t:t/name eq 'ppp manager'))"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_Users_in_PPP_Manager_Team')?['body/value']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@items('Apply_to_each_2')?['internalemailaddress']","emailMessage/Subject":"Traveller Validation Air Carrier Inquiry / Dossier du transporteur aérien pour la validation du voyageur. Record Number / Numéro du dossier @{triggerOutputs()?['body/ppp_travellerautonumber']}","emailMessage/Body":"<p>Traveller Validation Air Carrier Inquiry for Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']}.<br>\n<br>\nRecord created by @{outputs('Get_Owner')?['body/firstname']} @{outputs('Get_Owner')?['body/lastname']}.<br>\n<br>\n****<br>\n<br>\nNuméro du dossier du transporteur aérien pour la validation du voyageur<br>\n@{triggerOutputs()?['body/ppp_travellerautonumber']}.<br>\n<br>\nDossier créer par @{outputs('Get_Owner')?['body/firstname']} @{outputs('Get_Owner')?['body/lastname']}.<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Users_in_PPP_Manager_Team":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}